# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd # Импортируем библиотеку pandas 

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20) # прочитаем файл с исходными данными

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()  # Изучим общую информацию о данных, используя info() метод

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum() # Выведем количество пропущенных значений для каждого столбца используя методы isna() и sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
# заполним пропуски в столбце 'total_income' медианным значением по каждому типу из столбца 'income_type'
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs() # заменим отрицательные значения в столбце 'days_employed' на положительные

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median') # с помощью метода median() выведем медианное значение трудового стажа для каждого типа занятости

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique() # выведем значения столбца 'children' методом unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)] # удалим строки с аномальными значениями

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique() # выведем значения столбца 'children' методом unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
# заполним пропуски в столбце 'days_employed' медианным значением по каждому типу из столбца 'income_type'
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum() # выведем количество пропущенных значений для каждого столбца

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
# заменим тип данных в столбце 'total_income' с помощью метода astype()
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
# приведем значения в столбце 'education' к нажнему регисту методом str.lower()
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
# выведем количество строк дубликатов комбинацие методов duplicated() и sum()
data.duplicated().sum()

71

In [16]:
# удалим строки дубликаты методом drop_duplicates()
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
# на основании диапазонов присвоим кредитополучателям категории, запишем данные в новый столбец 'total_income_category'

def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique() # посмотрим цели взятия кредитов из столбца 'purpose' с помощью метода unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
# сформируем цели для взятия кредита в столбец 'purpose_category', разобьем их на категории
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [22]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
debt_from_children=pd.DataFrame()
debt_from_children['count_children']=data.groupby['children']('debt').count()
debt_from_children['sum_children']=data.groupby['children']('debt').sum()
debt_from_children['result_children']=data.groupby['count_children']/['sum_children']
debt_from_children['result_children']=data.sort_values(by='result_children', ascending=False)

          count_children  sum_children  result_children
children
4                     41             4         0.097561
2                   2052           194         0.094542
1                   4808           444         0.092346
3                    330            27         0.081818
0                  14091          1063         0.075438
5                      9             0         0.000000

**Вывод:** С ростом количества детей в семьях уменьшается  доля возврата кредитов в срок.

In [ ]:
Сделаем сводную таблицу, посмотрим меняется ли значение. PS: не меняется

In [70]:
data_pivot_children=data.pivot_table(index='children', values='debt', aggfunc={'count', 'sum', 'mean'})

data_pivot_children

            count      mean     sum
children
0         14091.0  0.075438  1063.0
1          4808.0  0.092346   444.0
2          2052.0  0.094542   194.0
3           330.0  0.081818    27.0
4            41.0  0.097561     4.0
5             9.0  0.000000     0.0

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:

debt_from_family_status = pd.DataFrame()
debt_from_family_status['count_family_status'] = data.groupby('family_status')['debt'].count()
debt_from_family_status['sum_family_status'] = data.groupby('family_status')['debt'].sum()
debt_from_family_status['result_family_status'] = debt_from_family_status['sum_family_status'] / debt_from_family_status['count_family_status'] 
print(debt_from_family_status.sort_values('result_family_status', ascending = False))

                       count_family_status  sum_family_status  \
family_status
Не женат / не замужем                 2796                273
гражданский брак                      4134                385
женат / замужем                      12261                927
в разводе                             1189                 84
вдовец / вдова                         951                 63

                       result_family_status
family_status
Не женат / не замужем              0.097639
гражданский брак                   0.093130
женат / замужем                    0.075606
в разводе                          0.070648
вдовец / вдова                     0.066246

**Вывод:**  Самый высокий показатель невозврата кредита в срок у свободных и находящихся в гражданском браке.

In [71]:
data_pivot_family_status=data.pivot_table(index='family_status', values='debt', aggfunc={'count', 'sum', 'mean'})

data_pivot_family_status

                         count      mean    sum
family_status
Не женат / не замужем   2796.0  0.097639  273.0
в разводе               1189.0  0.070648   84.0
вдовец / вдова           951.0  0.066246   63.0
гражданский брак        4134.0  0.093130  385.0
женат / замужем        12261.0  0.075606  927.0

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:

debt_from_total_income_category = pd.DataFrame()
debt_from_total_income_category['count_total_income_category'] = data.groupby('total_income_category')['debt'].count()
debt_from_total_income_category['sum_total_income_category'] = data.groupby('total_income_category')['debt'].sum()
debt_from_total_income_category['result_total_income_category'] = debt_from_total_income_category['sum_total_income_category'] / debt_from_total_income_category['count_total_income_category'] 
print(debt_from_total_income_category.sort_values('total_income_category', ascending = False))

                       count_total_income_category  sum_total_income_category  \
total_income_category
E                                               22                          2
D                                              349                         21
C                                            15921                       1353
B                                             5014                        354
A                                               25                          2

                       result_total_income_category
total_income_category
E                                          0.090909
D                                          0.060172
C                                          0.084982
B                                          0.070602
A                                          0.080000

**Вывод:** Хуже всего с возвратом кредита в срок у категории с доходом до 30000 рублей в месяц. Самыми объемными группами являются  семьи с доходом 50001–200000 — 'C' и 200001–1000000 — 'B'. И по таблице иы видим, что чем выше доход, тем  легче семьям планировать свои расходы и не задерживать выплату кредита.

In [72]:
data_pivot_total_income_category=data.pivot_table(index='total_income_category', values='debt', aggfunc={'count', 'sum', 'mean'})

data_pivot_total_income_category

                         count      mean     sum
total_income_category
A                         25.0  0.080000     2.0
B                       5014.0  0.070602   354.0
C                      15921.0  0.084982  1353.0
D                        349.0  0.060172    21.0
E                         22.0  0.090909     2.0

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [27]:

debt_from_purpose_category = pd.DataFrame()
debt_from_purpose_category['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()
debt_from_purpose_category['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()
debt_from_purpose_category['result_purpose_category'] = debt_from_purpose_category['sum_purpose_category'] / debt_from_purpose_category['count_purpose_category'] 
print(debt_from_purpose_category.sort_values('purpose_category', ascending = False))

                          count_purpose_category  sum_purpose_category  \
purpose_category
проведение свадьбы                          2313                   183
получение образования                       3988                   369
операции с недвижимостью                   10751                   780
операции с автомобилем                      4279                   400

                          result_purpose_category
purpose_category
проведение свадьбы                       0.079118
получение образования                    0.092528
операции с недвижимостью                 0.072551
операции с автомобилем                   0.093480

**Вывод:** Кредиты, взятые на покупку автомобиля и на получение образования реже всего отдают в срок.

In [73]:
data_pivot_purpose_category=data.pivot_table(index='purpose_category', values='debt', aggfunc={'count', 'sum', 'mean'})

data_pivot_purpose_category

                            count      mean    sum
purpose_category
операции с автомобилем     4279.0  0.093480  400.0
операции с недвижимостью  10751.0  0.072551  780.0
получение образования      3988.0  0.092528  369.0
проведение свадьбы         2313.0  0.079118  183.0

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в исходных данных могут быть из-за неполного заполнения или непонятного заполнения анкет физ-лицом, который берет кредит. Либо при переносе с бумажного носителя в базу сотрудника банка. Также при формировании сводных таблиц часть информации может быть утеряна.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* У количественных переменных может быть очень широкий диапазон значений. И минимальное и максимальное значение могут сильно повлиять на среднее значение диапазонаю Поэтому, в таких случаях, лучше всего использовать значение медианы.

### Шаг 4: общий вывод.

Мы проделали большую работу!

Считали таблицу с данными и изучили ее.

Нашли ошибки и исправили их:
-Заменили пустые значения в двух столбцах days_employed и total_income медианными значениями по каждой категории данных,
-В столбце children удалили строки, в которых встречаются аномальные значения из датафрейма data,
-Заменили вещественный тип данных в столбце total_income на целочисленный с помощью метода astype(),
-Обработали неявные дубликаты в столбце education, привели их к нижнему регистру, 
-Категоризовали данные в столбце total_income и purpose по категориям.

Закончив предварительную обработку данных, присткпили к исследованиюю

Мы исследовани следующие параметры, влияющие на сроки погашения кредита:
-влияние количества детей,
-влияние семейного положения,
-влияние дохода семьи,
-влияние цели кредита.

Закончив расчеты мы можем говорить о том что:

Лучше всего отдают кредиты на операции с недвижимостью и на проведение свадьбы, а на покупку автомобиля или на учебу - реже. Хуже всего с выплатой кредитов у категории с минимальной и максимальной доходностью. Низкие  показатели выплаты кредита в срок у неженатых и холостых и у пар, находящихся в гражданском браке. Также рост просрочки кредита увеличивается с ростом количества детей в семье.